/*Google Fonts*/
 @import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Lato:700|Muli&display=swap');

/*Hamburger Nav Responsive*/
.hamburger {
 padding: 20px 20px;
 display: none;
 position: fixed;
 width: 100%;
}
 
.toggleButton { 
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-end;
 height: 30px;
 width: 40px;
 background: transparent;
 border: 1px white;
 cursor: pointer;
 box-sizing: border-box;
 padding: 0;
 margin-right: 60px;
 outline: none;
}

.toggleButton-line {
 width: 40px;
 height: 2px;
 background: white; 
}

@media only screen and (max-width: 1300px) {
 .hamburger {
  display: block;
 }
}
/*Side Navbar Mobile Component*/
.sideNav{
 height: 100%;
 width: 100%;
 background: #2a2a2a;
 overflow: auto;
 position: fixed;
 top: 0;
 left: 0;
}

.sideNav button {
 padding: 40px;
 color: white;
 font-size: 1.5rem;
 background: transparent;
 outline: none;
 cursor: pointer;
}

.sideNav a {
 color: white;	
 padding: 20px;
 font-family: 'Staatliches', cursive;
 font-size: 3.5em;
 text-shadow: 1px 1px 2px #ff8f5d;
}

.sideNav a:hover {
 color: #ff8f5d;
}

.sideNav ul {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-bottom: 50px;
}

.responsive-footer {
	text-align: center;
	width: 100%;
	background: #ff8f5d;
	position: fixed;
	bottom: 0;
}


/*Side Navbar Desktop Component*/
.navContainer{
 display: flex;
 flex-flow: column; 
 font-family: 'Raleway', sans-serif;
}

.profileImg {
 width: 95%;
 border-radius: 10%;
}

.title{
 padding-top: 20px;
}

.hr{
 width: 100%;	
 height: 1px;
 margin: 20px auto;
 background: #ff8f5d;
}

ul {
 list-style-type: none;
 margin: 0;
 padding:0;
}

li {
 padding: 10px;
}

.link {
 color: white;	
 text-decoration: none;
 font-weight: 700;
}

.nav-btn:hover { 
 color: #ff8f5d;
}

.nav-btn li:hover{
 border-right: 2px solid #ff8f5d;
}

.footer {
 position: absolute;
 bottom: 0;
 padding: 10px;
 margin-top: 50px;
}

.icons {
 width: 35px;
 height: 35px;
 padding-right: 10px;
}

/*HOME PAGE*/
.background {
 width: 100%;
 height: 100vh;
 background: url(../img/home-background.jpg) no-repeat center center fixed;
 background-size: cover;
 color: white;
 font-family: 'Staatliches', cursive;
}

.home-title {
 padding-top: 10vh;
 padding-left: 15vh;
}

.home-title h1 {
 font-size: 5rem;
 margin-bottom: 5vh;
 text-shadow: 1px 1px 2px #0d010f;
}

.home-title h2 {
 font-size: 2rem;
 text-shadow: 1px 1px 2px #0d010f;
}

.home-buttons {
 padding-top: 20vh;
}

.bSpace {
 margin: 0 50px;
 font-size: 3rem;
 color: #0d010f;
 border: 2px solid #0d010f; 
 padding: 14px 50px;
} 

.bSpace:hover {
 color: #120316;
 border: 2px solid white;
}

@media only screen and (max-width: 1300px) {
	.bSpace {
	 font-size: 1.5rem;
	}
}
@media only screen and (max-width: 850px) {
	.bSpace {
	 margin: 0 20px;
	 padding: 14px 20px;
	}
}
@media only screen and (max-width: 600px){
	.home-title {
	 padding: 40px;
	 padding-bottom: 0;
	}
	.home-title h1 {
	 font-size: 3.5rem;
	}
	.home-title h2{
	 font-size: 1.5rem;
	}
	.home-buttons {
	 padding-top: 40px;
	 display: flex;
	 flex-wrap: wrap;
	}
	.bSpace {
	 margin: 20px 20px;
	 min-width: 190px;
	 text-align: center;
	}
}

/*Skills Page*/
.skillsContainer {
 width: 100%;
 min-height: 100vh;
 background-color: #2a2a2a;
}

.skills-title {
 color: white;	
 padding: 40px 80px;
 font-family: 'Staatliches', cursive;
 font-size: 4rem;
 text-shadow: 1px 1px 2px #ff8f5d;
}

.aboutme {
 font-family: 'Raleway', sans-serif;
 color: white;
 font-size: 1.5rem;
 padding: 0 80px;
}

.secondTitle {
 font-size: 2rem;
 font-family: 'Raleway', sans-serif;
 color: #ff8f5d;
 padding: 20px 80px;
 margin-top: 50px;
}

.aboutme span {
 color: #ff8f5d;
}

.experience {
 list-style: circle inside;
}

.devlogo {
 max-width: 100px;
 max-height: 100px;
 padding: 20px 80px;
}

.devlogos{
 display: flex; 
 flex-flow: row wrap;
}

@media only screen and (max-width: 450px){
	.skills-title {
	 padding: 80px 20px;
	 text-align: center;
	 font-size: 3rem;
	}
	.aboutme {
	 padding: 0 40px;
	 text-align: left;
	 font-size: 1.3rem;
	}
	.secondTitle {
	 padding: 20px 40px;
	}
}

/*Contact Form*/
.formContainer{
 padding: 40px 80px;
 min-height: 90vh;
 background: #2a2a2a;
 font-family: 'Raleway', sans-serif;
 color: white;
 font-size: 1.5rem;
}

form {
 width: 100%;
}

input {
 font-size: 1rem;
 font-family: 'Raleway', sans-serif;
 padding: 10px 0;
 margin: 10px 0;
} 

textarea {
 width: 100%;
 min-width: 231px;
 font-family: 'Raleway', sans-serif;
 font-size: 1.5rem;
 border-radius: 5px;
 margin-top: 10px;
}

.submit-btn{
 margin-top: 20px;
 padding: 10px;
 background: #ff8f5d;
 cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.formContainer h1{
	 padding: 80px 20px;
	 font-size: 3rem;
	 text-align: center;
	}		
}

/*Projects Page*/
.projectContainer{
 min-height: 100vh;
 background: #2a2a2a;
 font-family: 'Raleway', sans-serif;
 color: #cacaca;
 display: flex;
 flex-flow: column;

}

.projectTitle{
 padding: 40px 80px;
 font-family: 'Staatliches', cursive;
 font-size: 4rem;
 text-shadow: 1px 1px 2px #ff8f5d;
 color: #cacaca;
}

.allProjects{
 margin-top: 20px;
 display: flex;
 flex-flow: row wrap; 
}

.project{
 padding: 20px 20px;
 font-family: 'Raleway', sans-serif;
 color: #cacaca;
}

.imgProject{
 width: 300px;
 height: 300px;
 border-radius: 5px;
 border: 1px gray;
}

.filterBtn button {
 margin: 10px 10px;
 cursor: pointer;
 background: black;
 color: #cacaca;
}

.clicked{
 background: #ff8f5d!important;
}

@media only screen and (max-width: 700px){
	.projectTitle {
	 padding: 80px 20px;
	 text-align: center;
	 font-size: 3rem;
	}
	.filterProjects {
	 text-align: center;
	}
}

/*BLOG PAGE*/
.blog {
	display: flex;
	flex-flow: column;
}
.blog h1, .blog h2, .blog h4, .blog h6 {
	font-family: 'Lato', sans-serif;
}
.blogTitle {
	padding: 40px;
	text-align: center;
	background-color: #0d010f;
	color: white;
	margin: 0;
}
.postContainer {
	margin: 0px 40px;
}
.blogPost {
	min-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px 40px;
	text-align: justify;
}
.blogLink {
	display: flex;
	flex-flow: row;
	text-decoration: none;
	color: black;
}
.blogPost img {
	width: 100%;
	padding: 10px;
}
.blogPost h6 {
    	color: grey;
}
.blogPost p {
    	font-family: 'Muli', sans-serif;
}
.readMore {
    	font-family: 'Lato', sans-serif;
    	color: blue;
}
.readMore:hover {
	text-decoration: underline;
}
.blogPost:hover {
	cursor: pointer;
}
@media only screen and (max-width: 700px){
	.blogLink {
		flex-wrap: wrap;
	}
}


